:root {
  --background-color: #85B8CB;
  --main-color: #1D6A96;
  --text-color: #283B42;

  --H1-color: #333;

  --button-large-height: 50px;
  --button-large-width: 160px;
  --button-large-background: var(--main-color);
  --button-large-font-color: #white;
  --button-border-raduis: 16px;
}
